/* 
    Document   : student_signup
    Created on : 4 Feb, 2023, 9:16:15 AM
    Author     : Aditya
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


.whitediv
{
        background-image: url(image/6.png);
        height: 99%;
        width: 100%;
        background-repeat: no-repeat;
}
.heading
{
    margin-top: -70px;
    margin-left: 480px;
    font-family: Copperplate Gothic light;
}
.whitediv1
{
    height: 470px;
    width: 580px;
    margin-left: 880px;
    margin-top: 70px;
    border-radius: 20px;  
    border-radius: 30px 100px;
}

.textbox
{
    margin-top: 15px;
    margin-left: 60px;
    height: 40px;
    width: 200px; 
    border-radius: 15px;
    border-style: hidden;
    text-align: center;
    box-shadow: 2px 2px 5px #FFB26B;
}
.button
{
    margin-top: 5%;
    margin-left: 240px;
    height: 40px;
    width: 100px;
    background-color: #FFB100;
    color: white;
    
}


